# Phase 2 project

## Business Understanding

### Problem Statement
xxxx

### Objectives
1. xxxx

### Data Understanding
The data provided has already been split into training and test sets. We are provided with 3 datasets namely:
- features_train
- labels_train
- features_test

We will keep the data separate when cleaning, as provided. This will enable us to avoid any data leakage between training and test data, e.g. if whe have to impute missing values, we can't use the same metric across train & test data - not reflective of real world scenario

### Importing Data

In [16]:
# perform necessary imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
sns.set_style('dark')

# load datasets
feat_train = pd.read_csv('data/features_train.csv', index_col='id')
feat_test = pd.read_csv('data/features_test.csv', index_col='id')
lb_train = pd.read_csv('data/labels_train.csv', index_col='id')

In [17]:
# preview of training features

feat_train.head(2)

,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,basin,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
id,,,,,,,,,,,,,,,,,,,,,
69572,6000.0,14/03/2011,Roman,1390,Roman,34.938093,-9.856322,none,0,Lake Nyasa,...,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
8776,0.0,06/03/2013,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,Lake Victoria,...,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe

In [18]:
# preview of test features

feat_test.head(2)

,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,basin,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
id,,,,,,,,,,,,,,,,,,,,,
50785,0.0,2013-02-04,Dmdd,1996,DMDD,35.290799,-4.059696,Dinamu Secondary School,0,Internal,...,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,other,other
51630,0.0,2013-02-04,Government Of Tanzania,1569,DWE,36.656709,-3.309214,Kimnyak,0,Pangani,...,never pay,soft,good,insufficient,insufficient,spring,spring,groundwater,communal standpipe,communal standpipe

In [19]:
# previw of trainig labels

lb_train.head(2)

      status_group
id
69572   functional
8776    functional

The code below builds a class that will help us query the data

In [51]:
class quer_d:
    
    """ Query dataframe for specific information"""
    
    def __init__(self):
        self.data = data
        
    def dshape(self, data):
        """Simple method to provide the shape of the data"""
        
        return print(f"The DataFrame has:\n\t* {data.shape[0]} rows\n\t* {data.shape[1]} columns", '\n')
    
    def dinfo(self, data):
        """Simple method to provide the info of the data"""
        return print(data.info(), '\n')
    
    def dmissing(self, data):
        """ Identify missing values"""
        # identify if data has missing values(data.isnull().any())
        # empty dict to store missing values
        missing = []
        for i in data.isnull().any():
            # add the bool values to empty list 
            missing.append(i)
        # covert list to set (if data has missing value, the list should have true and false)
        missing_set = set(missing)
        if (len(missing_set) == 1):
            out = print("The Data has no missing values", '\n')
        else:
            out = print(f"The Data has missing values.", '\n')

        return out
    
    def d_duplic(self, data):
        """Simple function to identify any duplicates"""
        # identify the duplicates (dataframename.duplicated() , can add .sum() to get total count)
        # empty list to store Bool results from duplicated
        duplicates = []
        for i in data.duplicated():
            duplicates.append(i)
        # identify if there is any duplicates. (If there is any we expect a True value in the list duplicates)
        duplicates_set = set(duplicates) 
        if (len(duplicates_set) == 1):
            out = print("The Data has no duplicates", '\n')
        else:
            no_true = 0
            for val in duplicates:
                if (val == True):
                    no_true += 1
            # percentage of the data represented by duplicates 
            duplicates_percentage = np.round(((no_true / len(data)) * 100), 3)
            out = print(f"The Data has {no_true} duplicated rows.\nThis constitutes {duplicates_percentage}% of the data set.", '\n')
        
        return out
    
    def col_dup(self, data, column):
        """handling duplicates in unique column"""
        # empty list to store the duplicate bools
        duplicates = []
        for i in data[column].duplicated():
            duplicates.append(i)
    
        # identify if there are any duplicates
        duplicates_set = set(duplicates)
        if (len(duplicates_set) == 1):
            out = print(f"The column {column.title()} has no duplicates", '\n')
        else:
            no_true = 0
            for val in duplicates:
                if (val == True):
                    no_true += 1
            # percentage of the data represented by duplicates 
            duplicates_percentage = np.round(((no_true / len(data)) * 100), 3)
            out = print(f"The column {column.title()} has {no_true} duplicated rows.\nThis constitutes {duplicates_percentage}% of the data", '\n')
        
        return out
    
    def d_describe(self, data):
        
        """method to check the descriptive values of the data"""
        return print(data.describe(), '\n')

In [52]:
quer_d().d_describe(feat_test)

          amount_tsh    gps_height     longitude      latitude   num_private  \
count   14850.000000  14850.000000  14850.000000  1.485000e+04  14850.000000
mean      322.826983    655.147609     34.061605 -5.684724e+00      0.415084
std      2510.968644    691.261185      6.593034  2.940803e+00      8.167910
min         0.000000    -57.000000      0.000000 -1.156459e+01      0.000000
25%         0.000000      0.000000     33.069455 -8.443970e+00      0.000000
50%         0.000000    344.000000     34.901215 -5.049750e+00      0.000000
75%        25.000000   1308.000000     37.196594 -3.320594e+00      0.000000
max    200000.000000   2777.000000     40.325016 -2.000000e-08    669.000000

        region_code  district_code    population  construction_year
count  14850.000000   14850.000000  14850.000000       14850.000000
mean      15.139057       5.626397    184.114209        1289.708350
std       17.191329       9.673842    469.499332         955.241087
min        1.000000       0.000000      0.000000           0.000000
25%        5.000000       2.000000      0.000000           0.000000
50%       12.000000       3.000000     20.000000        1986.000000
75%       17.000000       5.000000    220.000000        2004.000000
max       99.000000      80.000000  11469.000000        2013.000000

In [33]:
quer_d().dshape(feat_train)

The DataFrame has:
	* 59400 rows
	* 39 columns